---
openapi: 3.0.3
info:
  title: FactoryPulse API
  version: 1.0.0
  description: API documentation for FactoryPulse application
servers:
  - url: https://factorypulse.app
    variables:
      defaultHost:
        default: https://factorypulse.app
  - url: '/api/v1'
    description: API V1
paths:
  '/api/v1/kpis':
    get:
      summary: List KPIs
      tags:
        - KPIs
      security:
        - BearerAuth: []
      responses:
        '200':
          description: KPIs found
          content:
            application/json:
              schema:
                type: object
                properties:
                  kpis:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Production Rate
                        description:
                          type: string
                          nullable: true
                          example: Units produced per hour
                        unit:
                          type: string
                          enum:
                            - units
                            - hours
                            - percentage
                            - count
                            - kg
                            - g
                            - l
                            - ml
                            - pcs
                            - doses
                          example: units
                        data_type:
                          type: string
                          enum:
                            - number
                            - currency
                          example: number
                        frequency:
                          type: string
                          enum:
                            - shiftly
                            - daily
                            - weekly
                            - monthly
                          example: daily
                        direction:
                          type: string
                          enum:
                            - higher
                            - lower
                          example: higher
                        aggregation:
                          type: string
                          enum:
                            - sum
                            - average
                            - min
                            - max
                          example: sum
                        values:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                format: date
                                example: '2024-03-14'
                              actual:
                                type: number
                                format: float
                                nullable: true
                                example: 95.5
                              target:
                                type: number
                                format: float
                                nullable: true
                                example: 100.0
                              metadata:
                                type: object
                                example: {}
                      required:
                        - id
                        - name
                        - data_type
                        - frequency
                        - direction
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Invalid subscription
  '/api/v1/kpis/{id}/values':
    get:
      summary: Get KPI values
      tags:
        - KPIs
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: date_from
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date for KPI values (YYYY-MM-DD)
        - name: date_to
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date for KPI values (YYYY-MM-DD)
        - name: org_id
          in: query
          required: true
          schema:
            type: integer
          description: Organization ID to fetch values for
      responses:
        '200':
          description: KPI values found
          content:
            application/json:
              schema:
                type: object
                properties:
                  kpi:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: Production Rate
                      unit:
                        type: string
                        example: units
                      frequency:
                        type: string
                        example: daily
                      aggregation:
                        type: string
                        example: sum
                  values:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                          example: '2024-03-14'
                        actual:
                          type: number
                          nullable: true
                          example: 95.5
                        target:
                          type: number
                          nullable: true
                          example: 100.0
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - Invalid subscription
        '404':
          description: KPI not found
        '422':
          description: Invalid date format
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
